form {

    .form-choices {
        display: flex;
        align-items: baseline;
    
        input[type="checkbox"] {
            margin-right: 1rem;
        }
    }
}

.info {
    border: 1px solid gray;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 0.9rem;

    p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;

        &:first-of-type {
            margin-block-start: 0;
        }

        &:last-of-type {
            margin-block-end: 0;
        }
    }
}