<h1>À faire</h1>
<h2>05/01/2020</h2>
<h3>Important</h3>
<ul>
    <li class="strike">
        Indiquer quelque part quand un critère a été validé (ou non)
        <span class="sr-only">- Fait</span>
    </li>
    <li>Réparer le copier / coller quand il y a une liste dans la préco</li>
    <li>Réparer les listes dans les préco quand on regarde un seul critère</li>
    <li>Trouver un moyen de faire une structure sans coller des div pour chaque paragraphe dans les préco</li>
</ul>

<h3>Moyennement important</h3>
<ul>
    <li>Permettre de changer de fichier JSON affiché</li>
    <li>Permettre de changer de langue d'interface</li>
    <li>Prévoir s'il y a des trous dans le JSON, à toutes les échelles</li>
</ul>

<h3>Facultatif</h3>
<ul>
    <li>Finir le responsive</li>
    <li>Faire une page qui sache éditer le JSON dedans ? Mais ça nécessiterait un back office et donc PHP ou Node ?</li>
</ul>