@import '../../../variables';

.navbar {
    background-color: #1d5b84;
    color: white;
    min-height: map-get($min-heights, "navbar");
    display: flex;
    align-items: center;

    .navbar-brand {
        font-family: 'Comfortaa', cursive;
        font-size: 1.7rem;
    }

    a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;

        &:hover, &:focus {
            text-decoration: underline;
        }

        &.active {
            font-weight: bold;
        }
    }

    .navbar-toggler {
        color: inherit;
    }

    .navbar-collapse {
        flex-grow: inherit;
    }
}


@media only screen and (max-width: 767px) {
    #burger-menu {
        display: flex;
        flex-direction: column;
        border: 2px solid rgba(255,255,255,0.8);
    
        &:hover, &:focus {
            border-color: white;
        }
    
        .fas {
            font-size: 1.5rem;
        }
        .legend {
            font-size: 0.8rem;
            padding-top: 0.2rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    li {
        display: inline-flex;

        &:not(:first-of-type) {
            a {
                padding-left: 0.75rem;
            }
        }
        &:not(:last-of-type) {
            a {
                &:after {
                    content: '';
                    display: flex;
                    width: 2px;
                    height: 100%;
                    background-color: white;
                    margin-left: 0.75rem;
                    opacity: 0.25;
                }
            }
        }
    }
}